@{
    ViewData["Title"] = "Teller Page";
    @model IEnumerable<OnlineBank.Models.Registration>
}

<h1>Teller list</h1>
<hr />

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Contact_No</th>
        <th>Email</th>
    </tr>

    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Name</td>
            <td>@d.Contact_No</td>
            <td>@d.Email </td>
        </tr>
    }
</table>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .addTrip {
        margin-top: 2rem;
        color: blue;
        cursor: pointer;
    }
</style>